certifi==2020.12.5
chardet==4.0.0
click==8.0
cssselect==1.2.0
flask==2.2.2
idna==2.5
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.2
MarkupSafe==2.1.2
parsel==1.7.0
PyYAML==5.3.1
requests==2.25.1
selectorlib==0.16.0
six==1.16.0
urllib3==1.26.4
w3lib==2.1.1
Werkzeug==2.2.2
wtforms==3.0.1
Flask-WTF===1.1.1
