<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
      <title>Calorie Calculator App</title>

      <!-- Bootstrap CSS -->
      <link href="static/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
        <div class="row mt-3">
            <div class="d-flex justify-content-between">
                <h3 class="text-center">Calories Calculator</h3>
                <a href="/" class="btn btn-warning">Reset</a>
            </div>
            <div class="col-6">
                <form action="/" method="POST" autocomplete="off">
                    <div class="mb-3">
                        <label for="height" class="form-label">{{calories_form.height.label}}</label>
                        {{
                            calories_form.height(
                                class="form-control",
                                type="number",
                                placeholder=calories_form.height.description
                            )
                        }}
                    </div>
                    <div class="mb-3">
                        <label for="weight" class="form-label">{{calories_form.weight.label}}</label>
                        {{
                            calories_form.weight(
                                class="form-control",
                                type="number",
                                placeholder=calories_form.weight.description
                            )
                        }}
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">{{calories_form.age.label}}</label>
                        {{ calories_form.age(class="form-control", type="number", placeholder=calories_form.age.description) }}
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">{{calories_form.country.label}}</label>
                        {{ calories_form.country(class="form-control", type="text", placeholder=calories_form.country.description) }}
                    </div>
                    <div class="mb-3">
                        <label for="city" class="form-label">{{calories_form.city.label}}</label>
                        {{ calories_form.city(
                            class="form-control",
                            type="text",
                            placeholder=calories_form.city.description
                            )
                        }}
                    </div>
                    {{ calories_form.submit(class="btn btn-success w-100 mt-3") }}
                </form>
            </div>
            <div class="col-6">
                <div class="accordion mt-4" id="accordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-one">
                      <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse-one"
                              aria-expanded="false"
                              aria-controls="collapse-one"
                      >
                        Why city and country are important?
                      </button>
                    </h2>
                    <div id="collapse-one" class="accordion-collapse collapse" aria-labelledby="heading-one" data-bs-parent="#accordion">
                      <div class="accordion-body">
                        Overall, populations living in warmer climates tend to have lower BMR
                        than those living in colder climates, even after controlling for
                        body size and composition.
                      </div>
                    </div>
                  </div>
                </div>
                {% if results %}
                    {% if results.temperature %}
                        <h6 class="mt-3">
                            Current temperature in {{calories_form.city.data}},
                            {{calories_form.country.data}} is
                            <span class="badge bg-secondary">{{results.temperature}}&#176;C</span>
                        </h6>
                    {% else %}
                        <div class="alert alert-warning mt-3" role="alert">
                            Unfortunately, a problem occurred getting the given location temperature.
                            <b>Calculations may not be accurate :(</b>
                        </div>
                    {% endif %}
                    {% if results.calories %}
                        <div class="alert alert-info mt-3" role="alert">
                            You need <b>{{results.calories}}</b> calories (kcal) today!
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Bootstrap Javascripts -->
    <script src="static/bootstrap.bundle.min.js"></script>

  </body>
</html>