<!doctype html>
<html lang="en">
  <head>
      <title>Calorie Calculator App</title>

      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-6">
                  <div class="mb-3">
                    <label for="height" class="form-label">{{calories_form.height.label}}</label>
                    {{ calories_form.height(class="form-control", type="number") }}
                </div>
                <form>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>